.top-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 8rem;
  background-color: #343a40;
  color: white;
  align-items: center;
}

.left-header {
  display: flex;
}
.brand-header {
  display: flex;
  margin-right: 1rem;
  align-items: center;
}

.logo-header {
  width: 2rem;
  height: 2rem;
}
.brand-name {
  padding-left: 5px;
}

.right-header {
  display: flex;
  align-items: center;
}

.icon-header {
  width: 2rem;
  height: 2rem;
  margin: 0 1rem;
}

.user-header {
  display: flex;
}

.avatar-img {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.user-header-information {
  transform: translateY(-5px);
  margin-left: 5px;
}

.user-name {
  font-size: 20px;
}

.user-position {
  font-size: 10px;
}

@media (max-width: 1368px) {
  .top-header {
    padding: 1rem 2rem;
  }
}
@media (max-width: 1024px) {
  .search-header {
    display: none;
  }
}

@media (max-width: 990px) {
  .language-select {
    display: none;
  }
  .top-header {
    padding: 1rem;
  }
}
@media (max-width: 760px) {
  .user-header-information {
    display: none;
  }
}
